body {
  background-color: #bfe1ff;
}
h1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.codingport {
  text-align: center;
  padding-bottom: 25px;
}

#kayak {
  font-size: 20px;
  float: right;
  line-height: 150px;
  padding-right: 50px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 75%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 35px;
}

.well {
  background-color: #faffa0;
}

p.strong {
  font-weight: bold;
}

h2 {
  text-align: center;
  padding-bottom: 25px;
}

.linktext {
  text-align: center;

}

ul {
  padding-bottom: 15px;
}

.pun {
  font-weight: bolder;
  font-style: oblique;
}
